html {
    height: 200px;
}

a{
    padding: 5px;
    font-family: "Inter";
    color: black; 
}
body{
    background-color: white;
    margin: auto;
    padding: 5px;
}

/* button {

} */

/* h1 {
    padding: 15px; 
    font-size: 25px;
    text-align: center;
    font-family: "Inter";
    margin: auto;
    
} */
    



/* Classes  */

.button-holders {
    text-align: center;
    margin: auto;
    font-size: 2rem;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer {
    text-align: center;
    padding-left: 10px;
   padding-right: 10px;
   margin: 10px;
    
}

.header{
    margin: auto;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    
}

.gradient {
    padding: 15px; 
    font-size: 2rem;
    text-align: center;
    font-family: "Inter";
    margin: auto;
   

 
 text-align: center;
  
 background: linear-gradient(135deg, #4be1ec, #cb5eee,  #f34a62);
 background-size: 200% auto;
 
 color: #000;
 background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 
 animation: shine 6s  ease-in-out infinite;
}

@keyframes shine {
    0%,
	100% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}
  }







/* Ids */

#toggle-font-btn{
    font-family:'Inter';
    background:#635bff;
    color: #fff;
    border-radius: 17px ;
    border: 1px solid #635bff;
    width: 10em;
    padding: 10px 35px;
    margin: auto;

}

#toggle-font-btn:hover {
    background-color: #0a2540;
    color: white;
    transition: .5s;
    border: 1px solid #0a2540;
}

#toggle-font-btn2{
    font-family:'Inter';
    font-weight: bold;
    background: #635bff;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #635bff;
    width: 10em;
    transition: transform 0.3s ease;
    padding: 10px 35px;
    margin: auto;
    
}


#toggle-font-btn2:hover {
    background-color: #0a2540;
    color: white;
    transition: .5s;
    border: 1px solid #0a2540;
}

#toggle-font-btn3{
    font-family:'Inter';
    background: #635bff;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #635bff;
    width: 10em;
    transition: transform 0.3s ease;
    padding: 10px 35px;
    margin: auto;
    
}

#toggle-font-btn3:hover {
    background-color: #0a2540;
    color: white;
    transition: .5s;
    border: 1px solid #0a2540;
}


#toggle-font-btn4{
    font-family:'Inter';
    background:#635bff;
    color: #fff;
    border-radius: 17px ;
    border: 1px solid #635bff;
    width: 10em;
    padding: 10px 35px;
    margin: auto;

}

#toggle-font-btn4:hover {
    background-color: #0a2540;
    color: white;
    transition: .5s;
    border: 1px solid #0a2540;
}


#toggle-font-btn5{
    font-family:'Inter';
    background:#635bff;
    color: #fff;
    border-radius: 17px ;
    border: 1px solid #635bff;
    width: 10em;
    padding: 10px 35px;
    margin: auto;

}

#toggle-font-btn5:hover {
    background-color: #0a2540;
    color: white;
    transition: .5s;
    border: 1px solid #0a2540;
}



#toggle-font-btn-reset{
    font-family:'Inter';
    background: #635bff;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #635bff;
    width: 10em;
    transition: transform 0.3s ease;
    padding: 10px 35px;
    margin: auto;
    
}

#toggle-font-btn-reset:hover {
    background-color: #0a2540;
    color: white;
    transition: .5s;
    border: 1px solid #0a2540;
}
